@model netCoreWorkshop.Entities.Article

@{
    ViewData["Title"] = "Delete";
}

@if (Model == null)
{
    <div class="alert-danger">
        <p>The article does not exist</p>
    </div>
}
else
{
    <h2>Delete</h2>
    <form action="/Articles/Delete" method="Post">
        <div class="form-horizontal">
            <h4>Article</h4>
            <hr />
            <h1>@Model.Title</h1>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input hidden type="number" name="id" value="@Model.Id" />
                    <input type="submit" value="Delete" class="btn btn-promary" />
                    <a class="btn btn-danger" href="/Articles/Index">Cancel</a>
                </div>
            </div>
        </div>
    </form>
}


<div>
    <a href="/Articles/Index">Back to List</a>
</div>